@using Academy.Core.Convertors
@model Academy.Model.ViewModels.ShowCourseListItemViewModel

<!-- col -->
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
    <article>
        <a href="/ShowCourse/@Model.CourseId/@Model.Title.FixText()" class="img-layer">
            <img style="height : 150px" src="/CourseFiles/Image/@Model.ImageName">
        </a>
        <h2><a href="/ShowCourse/@Model.CourseId/@Model.Title.FixText()"> @Model.Title </a></h2>
        <span> @((Model.Price == 0) ? "رایگان" : Model.Price.ToString("#,0")) </span>
        @{
            var dur = new TimeSpan(Model.CourseEpisodes.Sum(e => e.EpisodeTime.Ticks));
        }
        <i>@dur</i>
    </article>
</div>
<!-- /col -->