@model Academy.Model.Models.IdentityModels.User

<div style="direction: rtl; padding: 25px">
    <h2>@Model.UserName عزیز!</h2>
    <p> جهت بازیابی حساب کاربری خود لطفا روی لینک زیر کلیک فرمائید.</p>
    <p>
        <a href="https://localhost:7287/Account/ResetPassword/@Model.ActiveCode"> فعالسازی حساب کاربری </a>
    </p>

</div>