<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>پنل مدیریت سایت </title>

    <partial name="_AdminStyles" />

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Admin">داشبورد</a>
            </div>
            <!-- /.navbar-header -->
            @* <ul class="nav navbar-top-links navbar-left">
            <!-- /.dropdown -->
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
            <li>
            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
            </li>
            <li>
            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li>
            <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
            </ul>
            <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
            </ul> *@
            <!-- /.navbar-top-links -->

            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/Admin"><i class="fa fa-dashboard fa-fw"></i> پنل ادمین </a>
                        </li>
                        <li>
                            <a href="/Admin/"><i class="fa fa-bar-chart-o fa-fw"></i> مدیریت کاربران<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">دسترسی ها </a>
                                </li>
                                <li>
                                    <a href="/Admin/Role">نقش ها </a>
                                </li>
                                <li>
                                    <a href="/Admin/User">کاربران</a>
                                </li>

                                <li>
                                    <a href="/admin/DeletedUsers"> کاربران حذف شده</a>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> مدیریت دوره ها<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/admin/CourseCategory">دسته بندی ها</a>
                                </li>
                                <li>
                                    <a href="/Admin/Course">لیست دوره ها </a>
                                </li>
                                <li>
                                    <a href="/Admin/Discount">لیست کد های تخفیف </a>
                                </li>
                                <li>
                                    <a href="/admin/DeletedCourse/"> دوره های حذف شده</a>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            @* <div class="row">
            <div class="col-lg-12">
            <h1 class="page-header">داشبورد</h1>
            </div>
            <!-- /.col-lg-12 -->
            </div> *@
            <partial name="_Notification" />
            @RenderBody()

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <partial name="_AdminScripts" />
    @RenderSection("Scripts",false)
</body>

</html>