@model IEnumerable<Academy.Model.ViewModels.ShowCourseForAdminViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">لیست دوره های حذف شده</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                لیست دوره های سایت
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                    <thead>
                        <tr>
                            <th>تصویر</th>
                            <th>عنوان دوره</th>
                            <th>تعداد جلسه</th>
                            <th>دستورات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img src="/CourseFiles/Image/@item.ImageName" class="thumbnail" style="max-width: 120px" />
                                </td>
                                <td>
                                    @item.Title
                                </td>
                                <td>
                                    @item.EpisodeCount
                                </td>
                                <td>
                                    <a onClick=RecoverCourse('/Admin/DeletedCourse/Recover?id=@item.CourseId') class="btn btn-success btn-sm"><i class="bi bi-trash-fill"></i>بازگردانی</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<script>
    function RecoverCourse(url) {
        Swal.fire({
            title: 'آیا از بازگردانی دوره مطمئن هستید؟',
            text: "توجه:این علملیات قابل بازگشت نخواهد بود.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'بازگردانی'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    success: function (data) {
                        if (data.success) {
                            toastr.success(data.message);
                        }
                    }
                })
            }
        })
    }
</script>