@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Academy.Model.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی رمز عبور";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">مای آکادمی</a></li>
            <li class="breadcrumb-item active" aria-current="page">بازیابی رمز عبور</li>
        </ul>
    </nav>
</div>
<main class="client-page">
    <div class="container-content">

        @if (ViewBag.IsSuccess != null)
        {
            <div class="alert alert-success">
                <p> ایمیل بازیابی کلمه عبور برای شما ارسال شد. </p>
            </div>
            <script>
                var delay = 2000;
                setTimeout(function () { window.location = "https://localhost:44398/Login" }, delay)
            </script>
        }

        <header>
            <h2> بازیابی کلمه عبور </h2>
        </header>

        <div class="form-layer">

            <form asp-action="ForgotPassword" method="post">

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input type="text" asp-for="Email" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                </div>
                <span class="text-danger" asp-validation-for="Email"></span>
                
                <button class="btn btn-success"> تایید و ارسال </button>

            </form>
        </div>

    </div>
</main>

