@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Academy.Model.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "ورود به سایت";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">مای آکادمی</a></li>
            <li class="breadcrumb-item active" aria-current="page">ورود به سایت</li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">

        @if (ViewBag.IsSuccess != null)
        {
            <div class="alert alert-success">
                <p> ورود شما با موفقیت انجام شد. </p>
            </div>
            <script>
                var delay = 2000;
                setTimeout(function () { window.location = "https://localhost:44398/" }, delay)
            </script>
        }
        @if (ViewBag.EditProfile != null)
        {
            <div class="alert alert-warning">
                <p> به دلیل ویرایش اطلاعات حساب کاربری لطف مجدد لاگین فرمائید. </p>
            </div>

        }

        <header>
            <h2> ورود به سایت </h2>
        </header>

        <div class="form-layer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <form asp-action="Login" method="post" asp-antiforgery="true">
                <span class="text-danger" asp-validation-for="Email"></span>
                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input type="text" asp-for="Email" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                </div>

                <span class="text-danger" asp-validation-for="Password"></span>
                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input type="password" asp-for="Password" class="form-control" placeholder="رمز عبور " aria-describedby="password">
                </div>


@*
                <div class="input-group">
                    <dnt-captcha asp-captcha-generator-max="999999"
                                 asp-captcha-generator-min="111111"
                                 asp-captcha-generator-language="Persian"
                                 asp-captcha-generator-display-mode="ShowDigits"
                                 asp-use-relative-urls="true"
                                 asp-placeholder="کد امنیتی را وارد کنید"
                                 asp-validation-error-message="لطفا کد امنیتی را وارد کنید."
                                 asp-font-name="Tahoma"
                                 asp-dir="rtl"
                                 asp-show-refresh-button="true"
                                 asp-font-size="25"
                                 asp-fore-color="#333333"
                                 asp-back-color="#679bb5"
                                 asp-text-box-class="text-box form-control"
                                 asp-text-box-template="<span class='input-group-prepend'><span class='form-group-text'></span></span>{0}"
                                 asp-validation-message-class="text-danger"
                                 asp-refresh-button-class="fas fa-redo btn-sm"
                                 asp-use-noise="false" />
                </div>
*@
                <div class="remember-me">
                    <label><input type="checkbox" asp-for="RememberMe"> مرا بخاطر بسپار </label>
                </div>

                <div class="link">
                    <a href="/ForgotPassword"> <i class="zmdi zmdi-lock"></i> رمز عبور خود را فراموش کرده ام !</a>
                    <a href="/Register"> <i class="zmdi zmdi-account"></i> عضویت در سایت </a>
                </div>

                <button class="btn btn-success"> ورود به سایت </button>



            </form>
        </div>

    </div>
</main>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
}
