@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Academy.Model.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "بازیابی رمز عبور";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">مای آکادمی</a></li>
            <li class="breadcrumb-item active" aria-current="page">بازیابی رمز عبور</li>
        </ul>
    </nav>
</div>
<main class="client-page">
    <div class="container-content">

        @if (ViewBag.IsSuccess != null)
        {
            <div class="alert alert-success">
                <p> ایمیل بازیابی کلمه عبور برای شما ارسال شد. </p>
            </div>
            <script>
                var delay = 3000;
                setTimeout(function () { window.location = "https://localhost:7287/Login" }, delay)
            </script>
        }

        <header>
            <h2> بازیابی کلمه عبور </h2>
        </header>

        <div class="form-layer">

            <form asp-action="ResetPassword" method="post">
                <input type="hidden" asp-for="ActiveCode"/>
                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input type="password" asp-for="Password" class="form-control" placeholder="رمز عبور " aria-describedby="password">
                </div>

                <span class="text-danger" asp-validation-for="Password"></span>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input type="password" asp-for="RePassword" class="form-control" placeholder=" تکرار رمز عبور " aria-describedby="password">
                </div>

                <span class="text-danger" asp-validation-for="Password"></span>
                
                <div class="text-danger" asp-validation-summary="All"></div>
                <button class="btn btn-success"> ثبت تغییرات </button>

            </form>
        </div>

    </div>
</main>